*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-snap-type: y;
    user-select: none;

}


html{
    width: 100vw;
    height: 100vh;
    background: #000;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    font-family: sans-serif;
    overflow-x: hidden;
    
}
.header{
    width: 100%;
    height: 100vh;
    background-color: #181817;
      scroll-snap-align: start;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 40px;
      color: white;
}
h1{
    font-size: 60px;
}
p{
    font-size: 32px;
}
.content{
    width: 100%;
    height: 100vh;
    background-color: rgb(172, 10, 94);
    scroll-snap-align: start;
    text-align: center;
    line-height: 100vh;
    color: white;
    font-size: 40px;
    text-transform: capitalize;
}

button{
    width:200px;
    height: 50px;
    background-color: white ;
    color: #181817;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 11px;
    cursor: pointer;
    outline: 0px;
    border: 0;
}

.content{
    position: relative;
    
}
.content .click{
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation-name: click;
    animation-duration: .4s;
}

@keyframes click{
    0%{
        width: 0px;
        height: 0px;
        opacity: 1;
    }    
    100%{
        width: 100px;
        height: 100px;
        opacity: .1;
    }
}


